beautifulsoup4==4.12.2
certifi>=2024.2.2
charset-normalizer==3.2.0
idna==3.4
pendulum>=3.0
python-dateutil==2.8.2
pytimeparse==1.1.8
pytzdata==2020.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.0.4
curl_cffi>=0.7
